h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: capitalize;
    font-size: 1rem;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
    color: white;
}

 body {
    background-color: black;
 }